[Unit]
Description=FCIM Moldova Schedule Publisher

[Service]
Type=oneshot
WorkingDirectory=%h/utm-curs-i-orar-2027
EnvironmentFile=%h/.config/fcim-md-publisher/env
ExecStart=/usr/bin/node %h/utm-curs-i-orar-2027/tools/md-publisher/dist/tools/md-publisher/src/index.js publish
